 
.presentation {
    background-color: antiquewhite   
 }

.accueil {
    background-color: antiquewhite;    
}

.accueil img {
    width: 600px;
    height: 300px;
}

.content p {
    text-align: center;
}

.lorem {
    text-align: center;
    color:blue;
    
}
 

